/* AutoFilterDropdown.css */

.auto-filter-dropdown-container {
  position: relative;
  width: 200px;
}

.filter-input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filtered-list {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.filtered-list li {
  cursor: pointer;
  padding: 5px;
  transition: background-color 0.2s;
}

.filtered-list li:hover {
  background-color: #e0e0e0;
}

.filtered-list.visible {
  display: block; /* Display when visible */
}